.margin-none {
	margin: 0;
}

.cursor-default {
	cursor: default;
}

.qrcode-tips {
	padding: 10px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 10px;
	top: -100px;
	background-color: #ffffff;
	display: none;
	z-index: 999;
}

.qrcode-tips img {
	width: 200px;
	height: 200px;
}

.icon-qrcode:hover .qrcode-tips {
	display: block;
}