.dashboard {
  .dashboard-query {
    .term {
      margin: 1px 0;
    }

    .term-text {
      padding-left: 80px;
    }

    .ta-forward {
      float: none !important;

      line-height: 32px !important;

      border: 1px solid #CBD5DD;
      border-radius: 2px;

      display: inline-block;
    }
  }

  .mini-box {
    padding: 30px 25px;
  }

}
