.ali-side {
	width:200px;
	height: 100px;
	background-color:#eee;
	color: #fff;
	border-radius: 5px;
	border: 2px solid red;
	border-shadow: 10px 10px 5px #888888;
	transform: rotate(45deg);
}

.change {
	color: red;
}
