.qrcode-tips {
	padding: 10px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 10px;
	top: -100px;
	background-color: #fff;
	display: none;
	z-index: 999;
}

.qrcode-tips img {
	width: 200px;
	height: 200px;
}

.icon-qrcode:hover .qrcode-tips {
	display: block;
}

.cursor-default {
	cursor: default;	
}

.cursor-pointer {
	cursor: pointer;
}

.col-padding {
	padding: 0 15px;
}

.margin-none {
	margin-bottom: 0;
}

.margin-explore-bind {
	margin-bottom: 10px;
}

.modal-header-line {
	padding: 15px 0;
	margin: 0;
}

.order-checkbox {
	margin: 7px 20px 0;
}

.table tbody tr td {
	vertical-align: middle;
}

.pos-switch {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 70px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    
}

.pos-switch > pos-small {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    z-index: 2;
}


.pos-switch.check.green {
    box-shadow: #23AE89 0px 0px 0px 16px inset;
    border-color: #23AE89;
    background-color: #23AE89;
}

.pos-switch.check > pos-small {
    left: 35px;
    background-color: rgb(255, 255, 255);
}

.pos-switch .pos-switch-text {
    font-size: 14px;
    line-height: 30px;
}

.pos-switch .pos-switch-text .on {
    z-index: 0;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 8%;
}

.pos-switch .pos-switch-text .off {
    position: absolute;
    right: 8%;
    top: 0%;
    z-index: 0;
    color: #A9A9A9;
}

.table > tbody > tr > td,th {
    padding:10px;
}


.selected_mask_icon {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(../assets/images/icon_card_selected218877.png) no-repeat 0 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    background-position: 50% 50%;
    cursor: pointer;
}

.selected_mask_inner {
    width: 100%;
    height: 100%;
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);
    cursor: pointer;
}

.selected_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0px 15px 15px;
    cursor: pointer;
}

.blank_content:after {
    content: '.';
    visibility: hidden;
}
