* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 14px;
	letter-spacing: .2px;
}

.book {
	position: relative;
	width: 100%;
	height: 100%;
}

.book .book-summary {
	position: absolute;
	top: 0;
	left: -300px;
	bottom: 0;
	z-index: 1;
	width: 300px;
	color: #000;
	background: #ccc;
	border-right: 1px solid #292424;
}

.book.with-summary .book-summary {
	left: 0;
}

.book.with-summary .book-body {
	left: 300px;
}

.book .book-body {
	position: relative;
	top: 0;
	left: 300px;
	right: 0; 
	bottom:0;
	color: #000;
	background: #999;
}
